@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXh0pg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v23/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v23/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
 font-family: 'Roboto', 'Montserrat', 'Nunito', sans-serif;
 background-color: #D6D1B1;
 margin: 0;
}

header {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: #4DBB53;
    height: 75px;
}
header h1 {
    width: 100%;
    margin-left: 10px;
    padding-right: 30px;
    display: inline;
}

header * {
    background-color: #4DBB53;
    color: white;
}

nav {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 30px;
}

.navbar {
    list-style: none;
    align-items: center;
}

.navbar li {
    display: inline;
    text-transform: uppercase;
    font-size: 25px;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a:hover {
    font-size: larger;
}

/* Main Section */

/*Slider Section*/ 
.showSlide {
    display: none;
    text-align: center;
}

.showslide img {
    width: 100%;
}

.sliderContainer {
    max-width: 100%;
    position: relative;
    margin: auto;
    
}

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.left:hover, .right:hover {  
    background-color: rgba(115, 115, 115, 0.8);  
}  

 /* Fading animation */  
 .fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

/*Intro*/

.intro {
    margin: 10px 50px;
    padding: 15px 250px;
    background-color: #C7EFCF;
    border: 1px solid #C7EFCF;
    border-radius: 15px;
    text-align: center;
}

.intro * {
    background-color: #C7EFCF;
    font-family: 'roboto', sans-serif;
}

h2 {
    justify-content: center;
    align-items: center;
    color: #32908F;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 26px;
}

.intro p {
    display: block;
}

/*Projects Section*/

.projects {
    text-align: center;
    margin: 10px 50px;
    padding: 15px 250px;
    background-color: #C7EFCF;
    border: 1px solid #C7EFCF;
    border-radius: 15px;
}

.projects * {
    background-color: #C7EFCF;
    font-family: 'roboto', sans-serif;
    list-style: none;
}

.projects li {
    padding: 3px;
}

.projects a {
    text-decoration: none;
    color: inherit;
}

.projects a:hover {
    color: red;
    font-size: 19px;
}

/*Skills Section*/
/*Skills Section*/
.skills {
    text-align: center;
    margin: 10px 50px;
    padding: 15px 250px;
    background-color: #C7EFCF;
    border: 1px solid #C7EFCF;
    border-radius: 15px;
}

.skills * {
    background-color: #C7EFCF;
    font-family: 'roboto', sans-serif;
    list-style: none;
}

.skills ul {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.skills li {
    width: 100%;
    display: inline;
    text-transform: uppercase;
    font-size: 25px;
}

.skills img {
    height: 64px;
}

/*Footer Section*/

footer {
    text-align: center;
    margin: 10px 50px;
    padding: 15px 250px;
    background-color: #C7EFCF;
    border: 1px solid #C7EFCF;
    border-radius: 15px;
}

footer h3 {
    justify-content: center;
    background-color: #C7EFCF;
    align-items: center;
    color: #32908F;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

footer form {
    background-color: #C7EFCF;
}

#whatsapp {
    display: none;
}

.contactOptions {
    list-style: none;
}